<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>WordCount | About</title>
	</head>
	<body>
		<h3>About Us</h3>
		<hr />
        <a href="{% url 'home' %}">Return Home</a>
		<br />
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate error laboriosam iure beatae, illo dolores fugiat rem aliquam quos aspernatur nostrum, excepturi nobis, consequuntur quam facere. Doloremque fugiat veritatis sunt.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate error laboriosam iure beatae, illo dolores fugiat rem aliquam quos aspernatur nostrum, excepturi nobis, consequuntur quam facere. Doloremque fugiat veritatis sunt.</p>
	</body>
</html>
