<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>WordCount | Count Result</title>
	</head>
	<body>
		<h2>Count Result</h2>
		<em>There are {{ count }} in your text</em><br>
        <a href="{% url 'home' %}">Start Again</a>
		<h4>Your text:</h4>
		{{ fulltext }}
		<br />
		<hr />
		<br />
		<h4>Word Count:</h4>
		{% for word, countEach in data %} {{word}} : {{countEach}}<br />
		{% endfor %}
	</body>
</html>
